{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

 
<div id="page-top">

    <!-- Header/ Navbar -->


    <!-- Intro Section -->
    <div id="home" class="intro route bg-image" style="background-image: url(img/andyone--WW8jBak7bo-unsplash.jpg)">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <h1 class="intro-title mb-4" style="color:#f2f2f2;">Civil Status Registration</h1>
                    <p class="intro-subtitle"><span class="text-slider-items">Birth Certificate, Death Certificate, Marriage Certificate</span></p>
                </div>

                <div class="box d-flex flex-column justify-content-center align-items-center mx-auto ">
                 {% if app.user %}
                 
                 <a href="{{path('app_register')}}" style="color:#f2f2f2;"> Sign in</a>
                   {% else %}
                   <!-- Button trigger modal -->
                    <div class="tanana home__menu " data-toggle="modal" data-target="#exampleModal">Get Started</div>
                   
                    <div class="tanana home__menu " data-toggle="modal" data-target="#modalLogin">Log In</div>

                  
                {% endif %}
                </div>

                 <!-- Modal login -->
                <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                       
                        <div class="modal-body ">
                                    <!--LOG IN FORM-->
                            <div class="d-flex justify-content-end">
                                <div type="button" class="close " data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </div>
                            </div>
                                <div class="imgcontainer">
                                    <img class="img-fluid rounded-circle avatar"src="img/tom-roberts-8YJI-X-fx08-unsplash.jpg" alt="Avatar">
                                </div>
                                <div class="container" style="padding:16px; color:#000;">
                                    <label for="uname"><b>Email:</b></label>
                                        <!-- <input type="text" placeholder="Enter Username" name="uname" required>-->
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

                                    
                                    <label for="psw"><b>Password:</b></label>
                                         <!-- <input type="password" placeholder="Enter Password" name="psw" required>-->
                                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                                        <input type="hidden" name="_csrf_token"
                                            value="{{ csrf_token('authenticate') }}"
                                        >
                                    <button type="submit">Login</button>
                                    <label>
                                        <input type="checkbox" checked="checked" name="remember">Remember me
                                    </label>
                                </div>
                                <div class="container" style="background-color:#f1f1f1">
                                    
                                    <span class="psw mx-auto"> <a href="{{ path('app_forgot_password_request') }}">Forgot password?</a></span>
                              
                                </div>
                           
                        </div>
                      
                        </div>
                    </div>
                </div>

                <!--POPUP DE LOGIN-->
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Log In</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">

                   

                        </div>
                    </div>
                </div>

                <!--POPUP DE SIGNIN-->
                <div id="popup2" class="overlay">
                    <div class="popup">
                        <h2>Sign In</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">

                            <!--SIGN IN FORM-->

                        </div>
                    </div>
                </div>

                <!-- MODAL FOR PBLIC USER -->
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main id="main">

        <!-- Actualites -->
        <section id="work" class="portfolio-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h3 class="title-a">
                                News
                            </h3>
                            <p class="subtitle-a">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </p>
                            <div class="line-mf"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="img/obi-onyeador-UEQvUtRs224-unsplash.jpg" data-gall="portfolioGallery" class="venobox">
                                <div class="work-img">
                                    <img src="img/obi-onyeador-UEQvUtRs224-unsplash.jpg" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="row-sm-8">
                                        <h2 class="w-title">Title 1</h2>
                                        <div class="w-more">
                                            <span class="W-ctegory">Subtitle 1</span> / <span class="w-date">01 Janv 2021</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="#"> <span class="ion-ios-plus-outline"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="img/markus-winkler-cxoR55-bels-unsplash.jpg" data-gall="portfolioGallery" class="venobox">
                                <div class="work-img">
                                    <img src="img/markus-winkler-cxoR55-bels-unsplash.jpg" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Title 2</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Subtitle 2</span> / <span class="w-date">01 Janv 2021</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="#"> <span class="ion-ios-plus-outline"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="img/hayden-walker-ihiEd-_4TNY-unsplash.jpg" data-gall="portfolioGallery" class="venobox">
                                <div class="work-img">
                                    <img src="img/hayden-walker-ihiEd-_4TNY-unsplash.jpg" alt="" class="img-fluid">
                                </div>
                            </a>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Title 3</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Subtitle 3</span> / <span class="w-date">01 Janv 2021</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <a href="#"> <span class="ion-ios-plus-outline"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright">&copy; 2021 Copyright <strong>Sanda Beloha</strong>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

  
</div>

   {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


  {# 
     <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >


        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>#}
</form>
{% endblock %}
