{% extends 'base.html.twig' %}

{% block title %}New Mariage
{% endblock %}
{% block javascripts %}

	<script>
		$(document).ready(function () {
$('.datepicker').datepicker()

});
	</script>

{% endblock %}
{% block body %}
	<div class="container" style="margin-top:150px">

		<h1>Send Mariage Date Request</h1>

		<ul>
			<li>condition 1
			</li>
			<li>condition 2
			</li>
			<li>condition 3
			</li>
		</ul>

		{{ form_start(form) }}

		<div class="form-group">
			<label for="exampleInputEmail1">Mariage Date</label>
			{{ form_widget(form.mariageDate,{'attr':{'class':'form-control '}}) }}

		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Husband ID</label>
			{{ form_widget(form.husband,{'attr':{'class':'form-control '}}) }}

		</div>


		<div class="form-group">
			<label for="exampleInputEmail1">Wife ID</label>
			{{ form_widget(form.wife,{'attr':{'class':'form-control'}}) }}

		</div>


		<div class="form-group">
			<label for="exampleInputEmail1">Temoin ID</label>
			{{ form_widget(form.temoin,{'attr':{'class':'form-control'}}) }}

		</div>


		<div class="form-group">
			<label for="exampleInputEmail1">Payment reference</label>
			{{ form_widget(form.payment,{'attr':{'class':'form-control'}}) }}

		</div>
		<div class="form-group d-none">
			<label for="exampleInputEmail1">Status</label>
			{{ form_widget(form.status,{'attr':{'class':'form-control'}}) }}

		</div>

		<div class="form-group d-none">
			<label for="exampleInputEmail1">Office Location</label>
			{{ form_widget(form.officeLocation,{'attr':{'class':'form-control'}}) }}

		</div>


		<div class="form-group d-none">
			<label for="exampleInputEmail1">Officer</label>
			{{ form_widget(form.officier,{'attr':{'class':'form-control'}}) }}

		</div>
		<button class="btn btn-success">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}

		{# <a href="{{ path('mariage_index') }}">back to list</a> #}
	</div>
{% endblock %}
