{% extends 'base.html.twig' %}
{% block stylesheets %}
	<style>
		.container {
			display: flex;
			justify-content: center;
			flex-direction: column;
			min-height: 100vh;
		}
		.table > thead {
			color: red;
			text-align: left;
		}
	</style>
{% endblock %}

{% block javascripts %}

	<script>
		$(document).ready(function () {
$('#example').DataTable();
$('#example2').DataTable();

});
	</script>
{% endblock %}
{% block title %}
	PublicUser index
{% endblock %}

{% block body %}

	<div class="container" style="margin-top:150px">

		{% if user.title  == true %}
			<div class="row d-flex flex-column">
				<h3>
					Admin
				</h3>
				<h3>
					Birth list
				</h3>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Cerificate id</th>
								<th>Status</th>
								<th>Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for birth in birthList %}

								<tr>
									<td>{{birth.id}}</td>
									<td>{{birth.status}}</td>
									<th>{{birth.declarationDate|date('Y-m-d')}}</th>
									<td>
										<a href="{{ path('birth_edit', {'id': birth.id}) }}">edit</a>
									</td>
								</tr>


							{% endfor %}
						</tbody>

					</table>
				</div>
			</div>
		{% else %}
			{# user list #}
			<div class="row d-flex flex-column">
				<h3>
					My info
				</h3>

				<div class="row">


					{% if userDetails == null %}
						<a class="btn btn-primary" href="{{ path('public_user_new') }}">Create my info</a>
						{% else %}

					{% endif %}
				</div>
				{% if userDetails == null %}

					{% else %}
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>
											Id
										</th>
										<th>
											Fist Name
										</th>
										<th>
											Last Name
										</th>
										<th>
											Date of birth
										</th>
										<th>
											FatherName
										</th>
										<th>
											Father Occupation
										</th>
										<th>
											Mother Name
										</th>

										<th>
											Mother Occupation
										</th>

										<th>
											actions
										</th>
									</tr>
								</thead>
								<tbody>
									{% for public_user in public_users %}
										<tr>
											<td>
												{{ public_user.id }}
											</td>
											<td>
												{{ public_user.FName }}
											</td>
											<td>
												{{ public_user.LName }}
											</td>
											<td>
												{{ public_user.DoB ? public_user.DoB|date('Y-m-d') : '' }}
											</td>
											<td>
												{{ public_user.FatherName }}

											</td>
											<td>
												{{ public_user.FatherOccupation }}

											</td>
											<td>
												{{ public_user.MotherName }}

											</td>
											<td>
												{{ public_user.MotherOccupation }}

											</td>

											<td>

												<a class="btn btn-info" href="{{ path( 'public_user_show', { id: public_user.id } ) }}">
													show
												</a>
												{# <a class="btn btn-warning" href="{{ path( 'public_user_edit', { id: public_user.id } ) }}">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									edit
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								</a> #}
												{# <a class="btn btn-primary" href=" {{ path('make_pdf', { id: public_user.id })}} ">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<span class="material-icons">PDF</span>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								</a> #}

											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="9">
												no records found
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div>
					<div class="row d-flex flex-column mt-4">
						<h3>My Certificate</h3>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" id="home-tab" data-toggle="tab" href="#Birth" role="tab" aria-controls="Birth" aria-selected="true">Birth</a>


							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="profile-tab" data-toggle="tab" href="#Mariage" role="tab" aria-controls="Mariage" aria-selected="false">Mariage</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="contact-tab" data-toggle="tab" href="#Death" role="tab" aria-controls="Death" aria-selected="false">Death</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="Birth" role="tabpanel" aria-labelledby="birth-tab">
								<div class="row">

									<table class="table">
										<thead>
											<tr>
												<th>Certificate id</th>
												<th>Status</th>
												<th>Date</th>
												<th>Download</th>
											</tr>
										</thead>
										<tbody>
											{% for item in userBirthCertificate %}
												<tr>

													<td>{{item.id}}</td>
													<td>{{item.status}}</td>
													<th>{{item.declarationDate|date('Y-m-d')}}</th>
													{% if item.status =="Approved" %}
														<td>
															<a class="btn btn-primary" href=" {{ path('make_pdf_birth', { id: item.id })}} ">
																<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
															</td>
														</td>
													{% else %}
														<td>
															<span>Payment verification
															</span>
														</td>
													{% endif %}


												</tr>
											{% endfor %}


										</tbody>
									</table>

									<a class="btn btn-success" href="{{ path( 'birth_users', { id: userDetails.id } ) }}">
										Generate Birth Certificate</a>
								</div>

							</div>
							<div class="tab-pane fade" id="Mariage" role="tabpanel" aria-labelledby="mariage-tab">
								<div class="row">
									<button class="btn btn-success">
										Generate Mariage Certificate</button>
								</div>
							</div>
							<div class="tab-pane fade" id="Death" role="tabpanel" aria-labelledby="death-tab">
								<div class="row">
									<button class="btn btn-success">
										Generate Death Certificate</button>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>

		{% endif %}
	</div>
{% endblock %}
