{% extends 'base.html.twig' %}

{% block title %}New PublicUser
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function () {
$('#example').DataTable();
$(".dead").hide();
$("#public_user_isAlive").change(function () {
if ($(this).val() == 1) {
$(".dead").hide();
} else {
$(".dead").show();
}
});

$('.datepicker').datepicker()

});
	</script>

{% endblock %}

{% block stylesheets %}
	<style>
		label {
			color: black !important;
		}
		.birthDetails {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container" style="margin-top:150px">
		<div class="row justify-content-center">
			<h3>Create Account</h3>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				{{ form_start(form) }}

				<div class="form-group">
					<label for="exampleInputEmail1">First Name</label>
					{{ form_widget(form.FName,{'attr':{'class':'form-control'}}) }}

				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Last Name</label>
					{{ form_widget(form.LName,{'attr':{'class':'form-control'}}) }}

				</div>


				<div class="form-group">
					<label for="exampleInputEmail1">Date of Birth</label>
					{{ form_widget(form.DoB,{'attr':{'class':'datepicker'}}) }}

				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Gender</label>
					{{ form_widget(form.gender,{'attr':{'class':'form-control'}}) }}

				</div>


				<div class="form-group">
					<label for="exampleInputEmail1">Place of Birth</label>
					{{ form_widget(form.placeOfBirth,{'attr':{'class':'form-control'}}) }}

				</div>


			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="exampleInputEmail1">Father Name</label>
					{{ form_widget(form.fatherName,{'attr':{'class':'form-control'}}) }}

				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Father Occupation</label>
					{{ form_widget(form.fatherOccupation,{'attr':{'class':'form-control'}}) }}

				</div>


				<div class="form-group">
					<label for="exampleInputEmail1">Mother Name</label>
					{{ form_widget(form.motherName,{'attr':{'class':'form-control'}}) }}

				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Mother Occupation</label>
					{{ form_widget(form.motherOccupation,{'attr':{'class':'form-control'}}) }}

				</div>

				<label>Is Alive</label>
				{{ form_widget(form.isAlive) }}
				<div class="dead">
					<label>Death Details</label>
					{{ form_widget(form.DoD) }}
				</div>


			</div>

		</div>

		{% if userDetails == null %}
			<div class="row justify-content-center">
				<button type="submit" class="btn btn-success">Save</button>
				{{ form_end(form) }}
			</div>
			{% else %}

		{% endif %}

		<div class="row justify-content-center d-none">
			<a class="btn btn-info" href="{{ path('public_user_index') }}">back to list</a>

		</div>
	</div>
{% endblock %}
