<html>
	<head>
		<meta charset="UTF-8">
		<title>Birth Certficate</title>
	</head>
	<body>
		<h4 align='center'>REPUBLIQUE DE MADAGASCAR</h4>
		<h5 align='center'>FITIAVANA - TANINDRAZANA - FANDROASOANA</h5><br>

		<h4 align='center'>COMMUNE URBAINE
		</h4>
		<h4 align='center'>COPIE D' ACTE D' ETAT CIVIL
		</h4><br>

		<h5 align='center'>COPIE D'ACTE D'ETAT CIVIL<h5><br>

				<p align='center'>Naissance de
					{{birth.publicUser.FName}}
					{{birth.publicUser.LName}}</p>

				<p>
					Le
					{{birth.publicUser.DoB|date('d-m-Y')}}
					est ne(e) a Naissance de
					{{birth.publicUser.FName}}
					{{birth.publicUser.LName}}....Fils de Monsieur
					{{birth.publicUser.fatherName}}

				</p>
			</p>
		</body>
	</body>
</html></body></html>
