{{ form_start(form) }}

<div class="form-group">
	<label for="exampleInputEmail1">ID anle maty
	</label>
	{{ form_widget(form.maty,{'attr':{'class':'form-control'}}) }}

</div>

<div class="form-group">
	<label for="exampleInputEmail1">Death date</label>
	{{ form_widget(form.deathDate,{'attr':{'class':'form-control'}}) }}

</div>

<div class="form-group">
	<label for="exampleInputEmail1">Declaration Date</label>
	{{ form_widget(form.declarationDate,{'attr':{'class':'form-control'}}) }}

</div>

<div class="form-group">
	<label for="exampleInputEmail1">Payment</label>
	{{ form_widget(form.payment,{'attr':{'class':'form-control'}}) }}

</div>

<div class="form-group">
	<label for="exampleInputEmail1">Office Location</label>
	{{ form_widget(form.officeLocation,{'attr':{'class':'form-control'}}) }}

</div>

<div class="form-group">
	<label for="exampleInputEmail1">officier</label>
	{{ form_widget(form.officier,{'attr':{'class':'form-control'}}) }}

</div>

<div class="form-group">
	<label for="exampleInputEmail1">Epoux</label>
	{{ form_widget(form.vadiny,{'attr':{'class':'form-control'}}) }}

</div>


<div class="form-group">
	<label for="exampleInputEmail1">Temoin
	</label>
	{{ form_widget(form.temoin,{'attr':{'class':'form-control'}}) }}

</div>

<div class="form-group">
	<label for="exampleInputEmail1">Status</label>
	{{ form_widget(form.status,{'attr':{'class':'form-control'}}) }}

</div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
