<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
	<div class="container">
		<a class="navbar-brand" href="#page-top">Civil Status</a>
		<button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto text-uppercase">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}">Home</a>
				</li>


				{% if app.user %}
					{% if app.user.title == true %}
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="{{ path('public_user_index') }}">List
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="{{path('app_register')}}">Register</a>
						</li>
						{% else %}
					{% endif %}
				{% endif %}
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{{ path('public_user_index') }}">My info</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{{path('app_logout')}}">Logout</a>
					</li>
				{% else %}

					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{{ path('app_register') }}">Sign Up</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
