<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
	<div class="container">
		<a class="navbar-brand" href="#page-top">Civil Status</a>
		<button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto text-uppercase">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}">Home</a>
				</li>
				{% if app.user %}
					{% else %}

						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="{{ path('app_register') }}">Sign Up</a>
						</li>
				{% endif %}

				{% if app.user %}

					{% if app.user.title == true %}
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="{{ path('public_user_index') }}">List
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="{{path('app_register')}}">Register</a>
						</li>

						<li class="nav-item">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{app.user.email}}
							</a>
							<div
								class="dropdown-menu" style="right:15rem!important;left:auto!important; transition:0.4s; font-size:0.9rem;top:auto!important; border: 2px solid #DD8E40 !important; padding:5rem !imporant; " aria-labelledby="navbarDropdown">
								{# <a class="dropdown-item" href="#">Action</a>
																																																																																																																																																																						<a class="dropdown-item" href="#">Another action</a> #}

								<a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>

							</div>

						</li>
					{% elseif app.user.title == false %}

						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="{{ path('public_user_index') }}">My info</a>
						</li>

						<li class="nav-item">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{app.user.email}}
							</a>
							<div
								class="dropdown-menu" style="right:15rem!important;left:auto!important; transition:0.4s; font-size:0.9rem;top:auto!important; border: 2px solid #DD8E40 !important; padding:5rem !imporant; " aria-labelledby="navbarDropdown">
								{# <a class="dropdown-item" href="#">Action</a>
																																																																																																																																																																						<a class="dropdown-item" href="#">Another action</a> #}

								<a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>

							</div>

						</li>
						{% else %}


					{% endif %}
				{% endif %}

			</ul>
		</div>
	</div>
</nav>
